{% comment %} Product features {% endcomment %}

{%- assign heading_size = section.settings.heading_font_size -%}
{%- assign text_size = section.settings.text_font_size -%}
{%- assign blocks_alignment = section.settings.blocks_alignment -%}

{%- if section.blocks.size > 0 -%}
  <div data-section-id="{{ section.id }}" data-section-type="product-features">
    <div class="product-features--container pad-sm">
      <div class="container">
        <div class="row">
          {%- for block in section.blocks -%}
            {%- assign is_block_odd = false -%}
            {%- assign block_parity = forloop.index | modulo: 2 -%}
            {%- if block_parity == 0 -%}
              {%- assign is_block_odd = true -%}
            {%- endif -%}
            {%- assign heading = block.settings.heading -%}
            {%- assign description = block.settings.description -%}
            {%- assign image = block.settings.image -%}
            {%- assign image_link = block.settings.image_link -%}
            {%- assign button_text = block.settings.button_text -%}
            {%- assign button_link = block.settings.button_link -%}
            {%- assign button_style = block.settings.button_style -%}

            {%- include 'product-features__item' -%}

          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %} 
{
  "name": "Product features histoire",
  "max_blocks": 6,
  "class": "product-features",
  "settings": [
    {
      "type": "header",
      "content": "Blocks Alignment"
    },
    {
      "type": "select",
      "id": "blocks_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top",
          "label": "Top"
        }
      ]
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Heading size",
      "unit": "px",
      "step": 4,
      "min": 24,
      "max": 44,
      "default": 28
    },
    {
      "type": "range",
      "id": "text_font_size",
      "label": "Text size",
      "min": 12,
      "max": 22,
      "step": 2,
      "unit": "px",
      "default": 14
    }
  ],
  "blocks": [

    {
      "name": "Product feature",
      "type": "text",
      "settings": [
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "This is a heading for a Product feature block."
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Use this text to share information about the point put forth above. Describe a product, your brand, or what makes you special.</p>"
        },
        {
          "type":"header",
          "content":"Images"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image link"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "primary",
          "options": [
            { "label": "Primary", "value": "primary" },
            { "label": "Light", "value": "light" }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Product features",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
